.page__hd{
	padding: 2.5rem;
}
.page__title{
	text-align: left;
    font-size: 1.25rem;
    line-height: 2rem;
}
.page__desc{
	margin-top: 5px;
    color: #888888;
    text-align: left;
    font-size: 0.875rem;
    line-height: 1.375rem;
    word-break: break-all;
}
.preview{
    padding:0px 0.938rem 0px 0.938rem;
    background-color:#fafafa;
    min-height:60px;
    align-items: center;
}
.page__bd{
	padding:0px 0.938rem 0.938rem 0.938rem;
    align-items:center;
    
}
.btn {
    margin-top:15px;
    font-size: 1.125rem;
    border-radius: 5px;
    width:100%;
    height:2.875rem;
    text-align:center;
    border: 1px solid #00000033;
}
.btn_default {
    color: #000000;
    background-color: #F8F8F8;
}