.main{
	width:100%;
	height:100%;
	background-color: #ffffff;
}
 
.scrollpanel{
	width:100%;
	height:100%;
	flex-grow:1;
    flex-shrink:1;
    flex-basis:0;
}
.backjtdiv{
	width:3rem;
	height:2.75rem;
	justify-content:center;
    align-items:center;
}
.backjt{
	width:1.375rem;
	height:1.375rem;
}